<?xml version="1.0"?>
<config>
    <modules>
        <Meanbee_AdvancedSort>
            <version>1.0.1</version>
        </Meanbee_AdvancedSort>
    </modules>
    <global>
        <models>
            <meanbee_advancedsort>
                <class>Meanbee_AdvancedSort_Model</class>
                <resourceModel>Meanbee_AdvancedSort_resource</resourceModel>
            </meanbee_advancedsort>
        </models>
        <resources>
            <meanbee_advancedsort_setup>
                <setup>
                    <module>Meanbee_AdvancedSort</module>
                    <class>Mage_Catalog_Model_Resource_Eav_Mysql4_Setup</class>
                </setup>
            </meanbee_advancedsort_setup>
        </resources>
        <helpers>
            <meanbee_advancedsort>
                <class>Meanbee_AdvancedSort_Helper</class>
            </meanbee_advancedsort>
        </helpers>
        <blocks>
            <meanbee_advancedsort>
                <class>Meanbee_AdvancedSort_Block</class>
            </meanbee_advancedsort>
        </blocks>
        <events>
            <catalog_product_save_before>
                <observers>
                    <meanbee_advancedsort>
                        <type>singleton</type>
                        <class>Meanbee_AdvancedSort_Model_Observer</class>
                        <method>catalogProductSaveBefore</method>
                    </meanbee_advancedsort>
                </observers>
            </catalog_product_save_before>
        </events>
    </global>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <meanbee_advancedsort>
                                            <title>Meanbee AdvancedSort Settings</title>
                                        </meanbee_advancedsort>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>

    <crontab>
        <jobs>
            <meanbee_advancedsort_update>
                <schedule>
                    <cron_expr>0 2 * * *</cron_expr>
                </schedule>
                <run>
                    <model>meanbee_advancedsort/cron::updateProductsWithQuantitiesOrdered</model>
                </run>
            </meanbee_advancedsort_update>
        </jobs>
    </crontab>

    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <advancedsort before="Mage_Adminhtml">Meanbee_AdvancedSort_Adminhtml</advancedsort>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <default>
        <meanbee_advancedsort>
            <general>
                <qty_ordered_age>30</qty_ordered_age>
            </general>
        </meanbee_advancedsort>
    </default>

    <phpunit>
        <suite>
            <modules>
                <Meanbee_AdvancedSort />
            </modules>
        </suite>
    </phpunit>

</config>
